#slide1 {
    background: url("../img/work.jpg") center 0 no-repeat fixed;
}
#slide2 {
    background: url("../img/dream.jpg") center 0 no-repeat fixed;
}
#slide3 {
    background: url("../img/passion.jpg") center 0 no-repeat fixed;
}